{% extends "layout.html" %}
{% block title %}Update movie{% endblock %}
{% block content %}
<style>
    
    h1 {
        text-align: center;
    }
    .updateForm {
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: 20px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    label {
        display: block;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    button {
        padding: 10px;
        background-color: #1d031d;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }
</style>
<h1>Update movie</h1>

<form id="updatemovieForm">
    <label for="imageURL">Image URL:</label>
    <input type="text" id="imageURL" name="imageURL" value="{{ movie.imageURL }}" required>

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" value="{{ movie.genre }}" required>

    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="{{ movie.title }}" required>

    <label for="imdbrating">IMDb Rating:</label>
    <input type="text" id="imdbrating" name="imdbrating" value="{{ movie.imdbrating }}" required pattern="^\d{1,2}(\.\d{1,2})?$">
    <span class="error" id="imdbrating-error">Please enter a valid IMDb rating (e.g., 7.5 or 10).</span>

    <label for="released">Released:</label>
    <input type="text" id="released" name="released" value="{{ movie.released }}" required pattern="^\d{4}$">
    <span class="error" id="released-error">Please enter a valid year in YYYY format.</span>

    

    <label for="type">Type:</label>
    <input type="text" id="type" name="type" value="{{ movie.type }}" required>

    <label for="synopsis">Synopsis:</label>
    <textarea id="synopsis" name="synopsis" rows="4" required>{{ movie.synopsis }}</textarea>

    <button type="button" onclick="validateAndSubmit()">Update movie</button>
</form>

<script>
    function validateAndSubmit() {
    // Validation logic for Released Date (valid year)
    var releasedInput = document.getElementById('released');
    var releasedError = document.getElementById('released-error');
    var yearPattern = /^\d{4}$/;
    if (!yearPattern.test(releasedInput.value)) {
        releasedError.style.display = 'block'; // Display error message
        return;
    } else {
        releasedError.style.display = 'none'; // Hide error message
    }

    // If all validation passes, submit the form
    updateMovie();
}

</script>

{% endblock %}
