{% from "_dropdown_nav.html" import dropdown_nav %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Horror Movies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.landing_page')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.profile')}}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/movies">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favourites">Favourites</a>
                </li>
                {% if current_user.has_role('Admin') %}
                <li class="nav-item">
                    <a class="nav-link" href="/users">Manage Users</a>
                </li>
                {%endif%}
                <!-- samples nav -->
                {% set samples = [
                ("sample.add", "Add"),
                ("sample.list", "List"),
                ] %}
                {{dropdown_nav("Notes", samples)}}

                <!-- roles nav (requires admin )-->
                {% if current_user.has_role("Admin") %}
                {% set roles = [
                ("roles.add", "Add"),
                ("roles.list", "List"),
                ("roles.assign", "Assign")
                ] %}
                {{dropdown_nav("Roles", roles)}}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<style>
    /* Custom styles for the navigation bar */
    .navbar {
        background-color: #b4b2b9; /* Default navbar background color */
        border-bottom: 2px solid #9f77e6; /* Border color */
        transition: background-color 0.3s; /* Smooth transition for background color change */
        color:#111111;
    }

    .navbar:hover {
        background-color: #9249d2; /* Navbar background color on hover (light purple) */
    }

    .navbar-brand {
        color: #111111; /* Brand text color */
        font-weight: bold;
    }

    .navbar-toggler {
        border-color: #180823; /* Toggler color */
    }

    .navbar-nav .nav-link {
        color: #1a0632; /* Navbar link text color */
    }

    .navbar-nav .nav-link:hover {
        color: #301251; /* Navbar link text color on hover */
    }

    .navbar-nav .dropdown-menu {
        background-color: #d5dade; /* Dropdown menu background color */
    }

    .navbar-nav .dropdown-menu a {
        color: #080808; /* Dropdown menu item text color */
    }

    .navbar-nav .dropdown-menu a:hover {
        background-color: #8d69f0; /* Dropdown menu item background color on hover */
    }
</style>