{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    h1 {
        text-align: center;
    }
    .movieList {
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }
    .movie {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    img {
        max-width: 80px;
        margin-right: 10px;
    }

    #fetchMoviesBtn, #searchButton,
    #sortButton  {
            padding: 10px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
    }
    .updateButton,
    .deleteButton {
        padding: 8px;
        background-color: #007BFF; /* Green for Update */
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-decoration:none
    }

    .deleteButton {
        background-color:  #007BFF/* Red for Delete */
    }
</style>
    <h1>Users List</h1>

    <div>
        <input type="text" id="searchInput" placeholder="Search...">
        <button onclick="searchMovies()" id="searchButton">Search</button>
        <button onclick="sortMovies()" id="sortButton">Sort</button>
    </div>

    <ul class="movieList">
        {% for user in users_list %}
            <li class="movie">
                <div>
                    <h3>{{ user.username }}</h3>
                    <p>{{user.email}}</p>
                    {% if user.is_admin %}
                    <a name="{{ user.id }}" onclick="removeAsAdmin(name)" class="deleteButton">Remove as admin</a>
                    {% else %}
                    <a name="{{ user.id }}" onclick="addAsAdmin(name)" class="deleteButton">Make admin</a>
                    {% endif %}

                    <!-- Add other details as needed -->
                </div>
            </li>
        {% endfor %}
    </ul>

    <script>
        function searchMovies() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase();
        const movieList = document.querySelectorAll('.movie');

        movieList.forEach(movie => {
            const title = movie.querySelector('h3').innerText.toLowerCase();
            const displayStyle = title.includes(searchInput) ? 'flex' : 'none';
            movie.style.display = displayStyle;
        });
    }

    function sortMovies() {
        const movieList = document.querySelector('.movieList');
        const movies = Array.from(movieList.children);

        // Sort movies based on title (you can modify this logic based on your needs)
        movies.sort((a, b) => {
            const titleA = a.querySelector('h3').innerText.toLowerCase();
            const titleB = b.querySelector('h3').innerText.toLowerCase();
            return titleA.localeCompare(titleB);
        });

        // Remove existing movies from the list
        movieList.innerHTML = '';

        // Append sorted movies to the list
        movies.forEach(movie => {
            movieList.appendChild(movie);
        });
    }

    function removeAsAdmin(id) {
        const endpoint = `/users/${id}`;
        console.log(endpoint);

        // Send a POST request to add the movie as a favorite
        fetch(endpoint, {
            method: 'DELETE',
            headers: new Headers({'content-type': 'application/json', 'Cookie' : document.cookie}),
        })
        .then(response => {
            if (response.ok) {
                // Handle the case where adding as a favorite was successful (you can update UI or provide feedback to the user)
                console.log('user removed as an admin');
                window.location.reload()
            } else {
                // Handle the case where adding as a favorite was not successful
                console.error('Failed to remove user as an admin');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }


    function addAsAdmin(id) {
        const endpoint = `/users/${id}`;
        console.log(endpoint);

        // Send a POST request to add the movie as a favorite
        fetch(endpoint, {
            method: 'POST',
            headers: new Headers({'content-type': 'application/json', 'Cookie' : document.cookie}),
        })
        .then(response => {
            if (response.ok) {
                // Handle the case where adding as a favorite was successful (you can update UI or provide feedback to the user)
                console.log('user added as an admin');
                window.location.reload()
            } else {
                // Handle the case where adding as a favorite was not successful
                console.error('Failed to add user as an admin');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

    {% endblock %}